@media print {
  #printPageButton {
    display: none;
  }
}

@page {
  margin: 0;
}

@media all {
	.page-break	{ display: none; }
}

@media print {
	.page-break	{ display: block; page-break-before: always; }
}

.rp-main-header {
  font-size: 12px;
  /* font-weight: bold; */
  text-align: center;
}

.rp-head-title {
  font-size: 20px;
  font-weight: bold;
}

.rp-sec-a {
  font-size: 18px;
  text-align: right;
  padding-top: 10px;
  font-weight: bold;
}

.rp-sec-b {
  text-align: right;
  font-weight: bold;
}

.rp-sec-c {
  font-size: 13px;
  padding-top: 10px;
  font-weight: bold;
}

.rp-sec-d {
  font-size: 12px;
  padding-top: 10px;
  font-weight: bold;
}

.rp-sec-e {
  font-size: 12px;
  padding-top: 10px;
  font-weight: bold;
}

.rp-sec-f {
  font-size: 12px;
  padding-top: 20px;
  font-weight: bold;
}

.rp-sec-g {
  display: -webkit-box;
  margin-top: 10px;
  border-top: 1px solid black;
  padding-top: 5px;
  font-size: 13px;
  font-weight: bold;
}

.inner-content {
  width: 27%;
}

.rp-sec-h {
  display: -webkit-box;
  margin-top: 5px;
  border-top: 1px solid black;
  padding-top: 5px;
  font-size: 14px;
}

.rp-tblContent {
  width: 100%;
  font-size: 13px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

td.tbltdBold {
  font-weight: bold;
}

.rp-sec-i {
  padding-top: 80px;
  font-weight: bold;
  font-size: 13px;
}

.cntRemark {
  float: left;
}

.cntReceive {
  float: right;
}

.rp-sec-j {
  padding-top: 70px;
  font-size: 12px;
  position: relative;
}

.cntLine {
  border-bottom: 2px solid black;
  position: absolute;
  width: 201px;
  right: 0;
}

.cntAuth {
  position: absolute;
  right: 48px;
  bottom: -19px;
}
