.rp-tblContent {
  width: 100%;
}

.rp-main-header {
  font-size: 22px;
  font-weight: bold;
}

.rp-mainSubheader {
  /* padding-right: 200px; */
  padding-top: 10px;
}

.rp-main-content-outer {
  border-top: 1px solid #000000;
  padding-top: 5px;
  page-break-inside: avoid;
}

.rp-contentHeader {
  display: -webkit-box;
}

.rp-head-title {
  text-align: center;
}

.rp-head-title-underline {
  text-align: center;
  text-decoration: underline;
}

.rp-tblContent .rp-title {
  font-weight: bold;
  margin-right: 30px;
  padding-bottom: 5px;
}

.rp-tblContent .rp-desc {
  margin-right: 30px;
}

.rp-contentHeader {
  margin-top: 5px;
  /* padding-top: 10px; */
  padding-bottom: 3px;
}

.rp-contentDesc {
  font-weight: bold;
  /* margin-right: 60px; */
}

.rf-paramValueBox{
  width: 100%;
  padding-top: 5px;
  display: table;
}

.paramContentBox {
  float: left;
  margin-right: 20px;
  font-size: 15px;
}

.tdContTitle, .paramHeader {
  font-weight: bold;
}

.tdContDesc {
  padding-top: 5px;
  font-size: 15px;
}

.paramContentOuter {
  margin-left: 20px;
}

.box-primary {
  page-break-after: always;
  /*page-break-inside: avoid;*/
}

.tdImg {
  padding-right: 10px;
  vertical-align: middle;
}

@media print {
  #printPageButton {
    display: none;
  }
}

@page {
  margin-top: 20px;
  size: A4;
}

@media all {
	.page-break	{ display: none; }
}

@media print {
	.page-break	{ display: block; page-break-before: always; }
}

@media print {
    #Header, #Footer {
      display: none !important;
    }
    html, body {
      width: 310mm;
    }
}

