.icheck{
  padding-left: 22px;
}

.content-header {
  overflow: hidden;
}

.content-header > div {
  padding-left: 0 !important;
}

.content-header h1{
  font-size: 24px !important;
}

.content-header a {
  margin-top: 20px;
}

.sub-header{
  font-size: 25px;
}

.info-notice{
  font-size: 95% !important;
}

.margin-top{
  margin-top: 35px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.remove-row, .dialog-arrow {
  cursor: pointer;
}

.right-arrow{
  text-align: center;
  vertical-align: middle!important;
}

.valign-middle {
  vertical-align: middle!important;
}

.halign-center {
  text-align: center;
}

.mulitple-select {
  height: 60px!important;
}

.dataTables_filter {
  display: none;
}

.hover {
  background: #ddd;
}

.branch ul li {
  padding: 5px;
}

.box-body.customBox {
  padding-top: 0;
  margin-top: 0;
}

.radio {
  display: inline;
  margin-right: 10px;
}

.ui-autocomplete {
  position: absolute;
  z-index: 215000000 !important;
}

input#selected_qty {
  margin-left: 10px;
  width: 50%;
}

/*#serial-no {*/
/*  text-transform: uppercase;*/
/*}*/

select[readonly], input[readonly] {
  pointer-events: none;
}

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
