#tree1 ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#tree1 li ul {
  padding: 10px 0 10px 10px;
}

#tree1 {
  border: 1px solid #ddd;
}

#tree1 > li {
  margin: 10px;
}

#tree1 i {
  padding-right: 5px;
}

.branch {
  cursor: pointer;
}
